<h1>HOME</h1>

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orbi Memo</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img src="" alt="Orbi LOGO" />
        </a>
      </div>

      <div class="main-text">
        <ul class="info">
          <li>메모장</li>
        </ul>
      </div>
    </header>

    <!-- CONTENT -->
    <section class="content">
      <div class="inner">
        <div class="container">글 제목이랑 내용 샤샤샥 템플릿 변수로</div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="inner">
        <a href="./post_create.html">글쓰기</a>
      </div>
    </footer>
  </body>
</html>
