<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orbi Memo</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="inner">
        <a href="./home.html" class="logo">
          <img src="" alt="Orbi LOGO" />
        </a>
      </div>

      <div class="main-text">
        <ul class="info">
          <li>메모장</li>
        </ul>
      </div>
    </header>

    <!-- CONTENT -->
    <section class="content">
      <div class="inner">
        <div class="container">
          <form action="{% url 'post_create' %}">
            {% csrf_token %} 제목 :
            <input type="text" name="title" />
            <br />
            내용 :
            <textarea name="body" id="" cols="30" rows="10"></textarea>
          </form>
        </div>
        <div class="post-save">
          <button type="submit">글쓰기</button>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="inner">
        <a href="{% url 'post_create' %}">글쓰기</a>
      </div>
    </footer>
  </body>
</html>
