{% extends 'base.html' %}

<body>
  {% block contents %}
  <!-- CONTENT -->
  <section class="content">
    <div class="inner">
      <div class="container">
        <form action="{% url 'post_edit' blog.id %}" method="POST">
          {% csrf_token %} 제목 :
          <input type="text" name="title" value="{{blog.title}}" />
          <br />
          내용 :
          <textarea name="body" id="" cols="30" rows="10">
              {{blog.body}}
            </textarea
          >
          <div class="post-save">
            <button type="submit">수정완료</button>
          </div>
        </form>
      </div>
      <br /><br />
    </div>
  </section>
  {% endblock%}
</body>
