{% extends 'base.html' %}

<body>
  {% block contents %}
  <!-- CONTENT -->
  <section class="content">
    <div class="inner">
      <div class="container">
        <h1>제목 : {{blog.title}}</h1>
        <p>날짜 : {{blog.created_date}}</p>
        <p>최종 수정 날짜 : {{blog.modified_date}}</p>
        <p>본문 : {{blog.body}}</p>
      </div>
      <div class="post-edit">
        <a href="{% url 'post_edit' blog.id %}">수정하기</a>
      </div>
      <div class="post-delete">
        <a href="{% url 'post_delete' blog.id %}">삭제하기</a>
      </div>
    </div>
  </section>
  {% endblock %}
</body>
