<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orbi Memo</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="inner">
        <a href="{% url 'home' %}" class="logo">
          <img src="" alt="Orbi LOGO" />
        </a>
      </div>

      <div class="main-text">
        <ul class="info">
          <li>메모장</li>
        </ul>
      </div>
    </header>

    <!-- CONTENT -->
    <section class="content">
      <div class="inner">
        <div class="container">
          <h1>제목 : {{blog.title}}</h1>
          <p>날짜 : {{blog.created_date}}</p>
          <p>최종 수정 날짜 : {{blog.modified_date}}</p>
          <p>본문 : {{blog.body}}</p>
        </div>
        <div class="post-edit">
          <a href="{% url 'post_edit' blog.id %}">수정하기</a>
        </div>
        <div class="post-delete">
          <a href="{% url 'post_delete' blog.id %}">삭제하기</a>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="inner">
        <a href="{% url 'post_create' %}">글쓰기</a>
      </div>
    </footer>
  </body>
</html>
