/* COMMON */
body {
  color: orange;
  background-color: red;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

div a {
  background-color: blue;
  color: red;
}
